<%= form_for(volunteer) do |f| %>
  <% if volunteer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(volunteer.errors.count, "error") %> prohibited this volunteer from being saved:</h2>

      <ul>
      <% volunteer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fname %>
    <%= f.text_field :fname %>
  </div>

  <div class="field">
    <%= f.label :lname %>
    <%= f.text_field :lname %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :current_title %>
    <%= f.text_field :current_title %>
  </div>

  <div class="field">
    <%= f.label :current_project %>
    <%= f.text_field :current_project %>
  </div>

  <div class="field">
    <%= f.label :bio %>
    <%= f.text_field :bio %>
  </div>

  <div class="field">
    <%= f.label :topics_of_expertise %>
    <%= f.text_field :topics_of_expertise %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :travel_distance %>
    <%= f.text_field :travel_distance %>
  </div>

  <div class="field">
    <%= f.label :agreed_to_tos %>
    <%= f.check_box :agreed_to_tos %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
