<p>
  Your Lemonade Stand is growing!. Here's your new educator:
</p>

<p>
	<ul>
		<li>
			<%= @educator.fname %> <%= @educator.lname %> <br>
			<%= @educator.school_job_function %> at <%= @educator.school_name %> in <%= @educator.school_location %>
		</li>
		<li>
			Interested in: <%= @educator.topics_of_interest %><br>
			Message and notes: <%= @educator.topics_of_interest %>
		</li>
		<li>
			<%= @educator.email %>
		</li>
		<li>
			<%= @educator.phone %>
		</li>
</p>